/* photo qui defile sous le lecteur
logo insta... en bas dans contact 
typo
*/


*{
    color: white;
    font-size:12px;
    font-family: "arazati-expandida",serif;   
    box-sizing: border-box; /* pour maîtriser width et flex-basis */

}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}
hr{
    width: 70%;
    
}

@font-face {
    font-family: 'arazati-expandida';
    src: url('arazati-expandida-webfont.woff2') format('woff2'),
         url('arazati-expandida-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



a{

text-decoration: none;
}

.toftof{
   
  width: 100%;
    
}


.contenu{
   
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    
}

.apropos{
   
    display: flex;
    
    align-items: center;

    
}
.boite1{
   
    display: block;
    
    width: 50%;
    padding: 5%;
    font-size: 20px;

    
}
.description{
   font-size: 16px;
}


.liens{
   display: block;
  text-align: center;
  margin-top: 10%;
  font-size: medium;
}


#element1
{   
    
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden; height: 100%;

   
}
#element1:before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(photo/WIYAKE2.jpg) 0 0 repeat;
}
#element1:before
{
    display: block;
    border: solid;
    min-height: 100vh; /* toute la hauteur du viewport */
    background-image:url(photo/WIYAKE2.jpg) ;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 50% 80%;
    background-position: 50% 50%;
    background-size: cover; 
}
@keyframes leaves {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(1.20);
        -webkit-transform: scale(1.20);
    }
}
#element1:before {
    animation: leaves 15s ease-in-out infinite alternate;
    -webkit-animation: leaves 15s ease-in-out infinite alternate;
}














#element2
{   
    
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden; height: 100%;
    background-color: black;
   
}














#element3
{   
    
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden; height: 100%;
     background-color: black;
   
}






#element4
{   
    
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden; height: 100%;
     background-color: black;
   
}
















#element5
{   
    
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden; height: 100%;
      background-color: black;
   
}
.logo{   
    
  margin-right: 3em;
  margin-left: 3em; 
   
}




  .fren{
   
    display: block;
    position: fixed;
    
   
    top: 2%;
    right: 2%;
   
    background-color: rgba(128, 128, 128, 0);
  }

header{

    display: block;
    position: fixed;
   
    top: 0;
    height: 100%;
    background-color: rgba(128, 128, 128, 0);
    width: 13%;
}

h1
{
    
    float: center;
    text-align: center;
    margin: 0;
    

    
    
    
  
  padding-top: 5em;
}

h2
{
    
    display: block;
    text-align: center;
    margin: 0; 
  padding-top: 5em;
}



nav{
    /*
    float: center;
    text-align: left;
    margin: 0;
    border: solid;
    */
      float: center;
    text-align: center;
    margin: 0;
    text-decoration: none;
    margin-left: 4em;
    

    
    
    
  
  
    
}

li{
   
    
    list-style-type: none;
    text-decoration: none;
    
}


.player{
   display: block;
    text-align: center;
    margin: 0; 
  padding-top: 5em;
  padding-bottom: 10em;
    
}


/* ====== Add Smooth effect ===== 

Un défilement animé (« Smooth scroll ») en jQuery sans plugin

Nous avons vu précédemment comment réaliser un site de type one page en full CSS. On va maintenant égayer la navigation entre les rubriques en y ajoutant un effet de défilement animé (« smooth scroll ») en jQuery.

Cet effet sera déclenché au clic sur un élément ayant une classe js-scrollTo (cela permet de ne pas limiter son application au menu et de faire fonctionner le défilement également sur des liens internes). Le préfixe js- permet de différencier les classes à vocations cosmétiques de celles dédiées à l’interactivité JS.

Voir la démo

Exemple avec les liens du menu :

<ul class="menu">
  <li><a class="js-scrollTo" href="#page-1">Page1</a></li>
  <li><a class="js-scrollTo" href="#page-2">Page 2</a></li>
</ul>

<div id="page-1">
  <!-- Contenu Page 1 -->
</div><!-- /page-1 -->

<div id="page-2">
  <!-- Contenu Page 2 -->
</div><!-- /page-2 -->

Le code javascript (à placer dans <head> ou juste avant </body>) permettant de réaliser le défilement :

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('.js-scrollTo').on('click', function() { // Au clic sur un élément
      var page = $(this).attr('href'); // Page cible
      var speed = 750; // Durée de l'animation (en ms)
      $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
      return false;
    });
  });
</script>

La méthode .offset() renvoie les coordonnées (relatives au document) de l’élément (ici la page ciblée). On modifie la position de la scrollbar (grâce à scrollTop) jusqu’à atteindre cet élément, en animant le défilement avec .animate().



*/








