/*FONTS*/

@font-face {
    font-family: "arazati-expandida";
    src: url("../fonts/arazati-expandida-webfont.woff2") format("woff2"),
        url("../fonts/arazati-expandida-webfont.woff") format("woff");
}

/* GENERAL */

* {
    box-sizing: border-box;
    font-family: "arazati-expandida",serif;
}

html {
    font-size: 62.5%;
}

body {
    height: 100%;
    margin: 0;
    background-color: black;
    color:white;
}

h2 {
    font-family: "arazati-expandida",serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
}

hr {
    color: white;
    margin: 0;
    margin: 0 auto 7% auto;
}

a {
    text-decoration: none;
    color: white;
}

#hamburger-sidebar {
    list-style: none;
    position:fixed;
    width: 85%;
    z-index: 200;
    height: 100%;
    top: 0;
    left: 0;
    background-color:black;
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}

/*HOME*/
.hero-image {
    background-image: url('../img/wiyake-hero-image.jpg');
    background-position: center;
    height: 100%;
    z-index: 1;
    border: solid 0px black;
}

.hero-image>img {
    display: none;
}

#hamburger-button {
    display: none;
}

nav {
    position: fixed;
    top: 6rem;
    z-index: 1000;
    width: 15%;
}

nav>a>img {
    display: block;
    margin: 0 auto 2rem auto;
    width: 100%;
}

nav>div>ul {
    list-style: none;
    font-family: "arazati-expandida",serif;
    font-size: 1.2rem;
    padding: 0;
    margin-top: 10rem;
}

nav>div>ul>li {
    margin: 6rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
}



/*SECTION:ABOUT*/

section {
    margin: auto;
    height: 100%;
    background-color: black;
    border: solid 0px black;
    padding-top: 5%;
    font-size: 1.6rem;
    width: 65%;
}

.about-container {
    display: flex;
    justify-content: space-around;
}


section#about>div>article {
    width: 65%;
    padding: 10rem;
}

section#about img {
    width: 36%;
    align-self: center; /*prevents picture from stretching w/ Flex*/
}

/*SECTION:MUSIC*/

#player {
    text-align: center;
    margin-top: 10%;
}

/*SECTION:CONTACT*/

section#contact>p {
    text-align: center;
    padding-top: 5em;
}

#network {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-around;
    margin-top: 10%;
}

#contact img {
    width: 2.8em;
}



@media (max-width: 640px) {
    nav>a>img {
        display: none;
        margin: 0 auto 2rem auto;
        width: 100%;
        z-index: 0;
    }

    .hero-image {
        background-size: 300%;
        background-position-y: 60%; 
    }

    /*logo wiyake phone*/
    .hero-image>img {
        display: block;
        position: absolute;
        width: 70%;
        margin: auto;
        text-align: center;
        left:0;
        right: 0;
    }

    nav {
        display: none;
    }

    #hamburger-button {
        position: fixed;
        display: block;
        z-index: 300;
        background-color: transparent;
        color: white;
        border: solid white 0px;
        font-size: 3em;
        outline: none;
    }

    #hamburger-sidebar {
        
    }

    #hamburger-sidebar ul {
        list-style: none;
        font-family: "arazati-expandida",serif;
        padding: 0;
        margin-top: 10rem;
    }
    
    #hamburger-sidebar li {
        font-size: 2rem;
        margin: 6rem;
        color: white;
        text-transform: uppercase;
        text-align: center;
    }

    #hamburger-content {
        display: none;
    }

    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }

    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0);
    }

    /*SECTION:ABOUT*/
    hr {
        width: 70%;
    }

    section {
        width: 100%;
    }

    section#about>div>article {
        width: 95%;
    }

    section p {
        font-size: 1rem;
    }

    .about-container {
        flex-direction: column;
    }

    section#about img {
        display: none;
    }

}
